<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://www.soe.ucsc.edu/sites/all/themes/bsoev3/favicon.ico" type="image/vnd.microsoft.icon">
    <title><%= htmlWebpackPlugin.options.browserTitle %></title>
  </head>
  <body>
  <section class="hero is-primary is-small">
    <div class="hero-body">
      <div class="container">
        <h1 class="title"><%= htmlWebpackPlugin.options.title %></h1>
        <p id="floor-title" class="subtitle">
          Floor 1
        </p>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-7">
          <div id="map"></div>
          <br/>
          <div>
            <form id="search">
              <div class="field has-addons">
                <div class="control is-expanded">
                  <input class="input is-medium is-success" name="search" required type="text" placeholder="Find a Room">
                </div>
                <div class="control">
                  <input type="submit" class="button is-success is-medium" value="Search"/>
                </div>
              </div>    
            </form>
            <br/>
            <div id="search-error" class="notification is-danger is-off">
              <button class="delete"></button>Failed to find the requested room/location
            </div>
            <div id="search-e" class="notification is-warning is-off">
              <button class="delete"></button>Maybe you meant to search the <a href="/E2">E2 building map?</a>
            </div>
          </div>
        </div>
        <div class="column is-2">
          <div id="floor-buttons">
            <button id="floor3" class="button is-fullwidth is-large is-primary floor-button"><span>3</span></button><br/>
            <button id="floor2" class="button is-fullwidth is-large is-primary floor-button"><span>2</span></button><br/>
            <button id="floor1" class="button is-fullwidth is-large is-primary floor-button"><span>1</span></button><br/>                  
            <button id="floor0" class="button is-fullwidth is-large is-primary floor-button"><span>B</span></button>
          </div>
        </div>
        <div class="column is-3">
          <h3 class="is-size-3">Quick Navigate</h3><br/>
          <div id="quicknav"></div>
          <button id="reset" class="button is-fullwidth is-medium is-outlined">Reset Map</button>
        </div>
      </div>
    </div>
  </section>
  </body>
</html>

