// First import the variables
@import '~bulma/sass/utilities/initial-variables';

$primary: #00458c;
$success: rgb(40, 192, 78);
$warning: #F1B521;
// $danger: #FF5964;
// $link: #38618C;
// $navbar-height: 3.5em;

// Then import rest of bulma so variable changes propogate
@import '~bulma/bulma';

@import '~leaflet/dist/leaflet.css';

$map-height: 600px;
$map-background: $grey-lighter;

#map {
  border-radius: 3px;
  border: 1px solid #444;
  height: $map-height;
}

.room-label div {
  width: 400px;
  margin-left: -200px;   

  line-height: 20px;
  margin-top: -10px;
  
  text-align: center;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  text-shadow: -1px -1px 0 #fff,  1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; 
}

.zoomed-out .room-label div {
  font-size: 8px;
}

.leaflet-container {
  background: $map-background;
}

#quicknav button {
  margin-bottom: 24px;
}

#reset {
  margin-top: 48px;
}

#floor-buttons {
  height: $map-height;
  display: flex;
  flex-direction: column;

  & > .button {
    flex: 1;
    background-color: $grey-light;

    &.is-active {
      background-color: $warning;
    }
  }
}

html {
  overflow-y: auto;
}