// First import the variables
@import '~bulma/sass/utilities/initial-variables';

$danger: #ff5050;
$success: #41bf09;
$primary: #003c6c;
$warning: #F1B521;

// Then import rest of bulma so variable changes propogate
@import '~bulma/bulma';

@import '~leaflet/dist/leaflet.css';

$map-height: 600px;
$map-background: $grey-lighter;

#map {
  border-radius: 3px;
  border: 1px solid #444;
  height: $map-height;
}

section.section {
  padding: 24px;
}

#search-error, #search-e {
  margin-bottom: 0;
}

.is-off {
  display: none;
}

.room-label div {
  width: 400px;
  margin-left: -200px;   

  line-height: 20px;
  margin-top: -10px;
  
  text-align: center;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  text-shadow: -1px -1px 0 #fff,  1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; 
}

// .notification > .delete {
//   top: 0.5rem;
//   right: 0.5rem;
// }

.zoomed-out .room-label div {
  font-size: 8px;
}

.leaflet-container {
  background: $map-background;
}

#quicknav button {
  margin-bottom: 24px;
}

#reset {
  margin-top: 48px;
}

#floor-buttons {
  height: $map-height;
  display: flex;
  flex-direction: column;

  @include mobile {
    height: auto;
    flex-direction: row;    
  }

  & > .button {
    flex: 1;
    background-color: $grey-light;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    @include tablet {
      margin-right: 0;
    }

    &.is-active {
      background-color: $warning;
    }
  }
}

html {
  overflow-y: auto;
}